/* Global styles configuration */

@import "tailwindcss";
@import 'sweetalert2/dist/sweetalert2.min.css';

body {
  background: #f9fafb;
  /* background: red; */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ea580c;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


